*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(151, 163, 159);
}
h1{
    text-align: center;  
    background-color: aquamarine;
    width: 100%;
    margin: auto;

}
main{
    height: fit-content;
    position: relative; 
    top: 150px;
    margin: auto;
    width: max-content;
    border-radius: 2%;
    background-color: black;
}
table{
    height: max-content;
    width: max-contents;
    margin: auto;
    border: solid;
    text-align: center;
    background-color: black;
    color: rgb(6, 6, 6);
    border-radius: 10%;
}
input[type="button"]{
    height: 100%;
    width: 100%;
    border:none;
    background-color: rgb(123, 133, 130);
}
tr{
    height: 3rem;
    width: fit-content;
}
th{ 
    background-color: rgb(123, 133, 130);

}
#result{
    height: 100%;
    text-align: start;
    font-size: larger;
    width: 100%;
    border:none;
    padding: 1%;
    box-sizing: border-box;
}

th,td,input[type="button"]{
    border: solid;
    width: 10rem;
    border-radius: 0.5rem;
    transition: all 0.6s ease-in-out;
}

input[type="button"]:hover{
    background-color: aliceblue;
    transform: scale(0.99);
}



